@using Infinte.MVC.Day1.Models;
@model Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details Of Customer</h2>

<hr/>
<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.MobileNo</li>
</ul>

