@using Infinte.MVC.Day1.Models;
@model Products
@{
    ViewBag.Title = "Details";
}

<h2>Details of Products</h2>
<hr/>
<ul>
    <li>@Model.Id</li>
    <li>@Model.ProductName</li>
    <li>@Model.Price</li>
    <li>@Model.Quantity</li>
</ul>

